/* Font Family - Inter & Roboto */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Tailwind CSS & DaisyUI */
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.swiper-pagination-bullet {
  background-color: gray !important;
  width: 12px;
  height: 12px;
  opacity: 1;
  border-radius: 9999px;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #e11d48 !important;
  width: 16px;
  height: 16px;
  opacity: 1;
}